@font-face {
  font-family: AvenirNext-Medium;
  src: url(fonts/AvenirNext-Medium.ttf); }

@font-face {
  font-family: AvenirNext-Bold;
  src: url(fonts/AvenirNext-Bold.ttf); }

@font-face {
  font-family: AvenirNext-Regular;
  src: url(fonts/AvenirNext-Regular.ttf); }

@font-face {
  font-family: AvenirNext-DemiBold;
  src: url(fonts/AvenirNext-DemiBold.ttf); }

@font-face {
  font-family: LANDROVERLGTL4;
  src: url(fonts/LANDROVERLGTL4.otf); }

@font-face {
  font-family: LANDROVERBLDL4;
  src: url(fonts/LANDROVERBLDL4.otf); }

@font-face {
  font-family: LANDROVERMEDL4;
  src: url(fonts/LANDROVERMEDL4.otf); }

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext-Medium"; }

.wrapper {
  float: left;
  width: 100%;
  height: 100%; }

* {
  outline: none; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box; }
  @media all and (min-width: 1280px) {
    .content {
      width: 1280px;
      padding: 0 34px 0 34px; } }
  @media all and (min-width: 768px) and (max-width: 1279px) {
    .content {
      width: 768px;
      padding: 0 30px 0 30px; } }
  @media all and (min-width: 320px) and (max-width: 767px) {
    .content {
      min-width: 320px;
      max-width: 520px;
      width: 100%;
      padding: 0 15px 0 15px; } }

.bx-pager-item {
  display: none !important; }

.bx-wrapper, .bx-viewport {
  height: 600px !important; }

.bx-prev, .bx-next {
  width: 100%;
  height: 100%; }

p a {
  color: inherit; }

a {
  text-decoration: none !important; }

@media all and (min-width: 1280px) {
  .header {
    background: url(img/header.jpg) #2f3b4c;
    font-family: "AvenirNext-Medium";
    font-size: 12px;
    background-size: cover;
    width: 100%;
    height: 666px;
    position: relative; }
    .header__color-block {
      background: linear-gradient(to top, #2f3b4c, rgba(47, 59, 76, 0.95), rgba(47, 59, 76, 0.87), rgba(47, 59, 76, 0.77), rgba(47, 59, 76, 0.7));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .header ._title {
      float: left;
      width: 100%;
      height: 100px;
      color: white;
      line-height: 100px; }
    .header__menu, .header .line-block, .header hr, .header .menu-btn {
      display: none !important; } }

@media all and (min-width: 1280px) {
  .title-block {
    float: left;
    position: relative;
    width: 100%;
    height: 240px;
    font-family: "AvenirNext-Regular"; }
    .title-block p {
      color: #2f3b4c;
      font-size: 38px;
      padding: 0 160px; }
      .title-block p span {
        font-family: "AvenirNext-Bold"; } }

@media all and (min-width: 1280px) {
  .container {
    position: relative;
    height: auto;
    width: 100%;
    float: left; }
    .container__app {
      width: 100%;
      float: left;
      position: relative;
      height: 718px !important; }
      .container__app > div:last-of-type > div {
        float: left;
        width: 50%;
        height: 100%;
        position: relative; }
        .container__app > div:last-of-type > div:last-of-type {
          padding: 100px 0 125px 40px;
          box-sizing: border-box; }
        .container__app > div:last-of-type > div .logo {
          position: absolute;
          box-sizing: border-box;
          border-radius: 35px;
          box-shadow: 0px 5px 16px -5px black;
          width: 175px;
          height: 175px;
          top: 60px;
          right: 40px; }
          .container__app > div:last-of-type > div .logo.photoreport {
            background: url("img/1.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div .logo.voting-day {
            background: url("img/2.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div .logo.gps-tracker {
            background: url("img/3.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div .logo.agitator {
            background: url("img/4.png") 50% 50% no-repeat white;
            background-size: 70%; }
        .container__app > div:last-of-type > div .phone {
          position: absolute;
          border-radius: 35px;
          background: white;
          box-shadow: 0 5px 16px -5px black;
          width: 289px;
          height: 596px;
          top: 60px;
          right: 256px; }
          .container__app > div:last-of-type > div .phone div.phone-slider {
            overflow: hidden;
            position: relative;
            background: black;
            margin: 66px auto;
            width: 254px !important;
            height: 450px; }
            .container__app > div:last-of-type > div .phone div.phone-slider img.slide {
              position: absolute;
              width: 100% !important;
              height: auto;
              top: 0;
              left: 0; }
          .container__app > div:last-of-type > div .phone:before {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 65px;
            height: 8px;
            top: 35px;
            margin: auto;
            left: 0;
            right: 0;
            border-radius: 5px; }
          .container__app > div:last-of-type > div .phone:after {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 48px;
            height: 48px;
            border-radius: 100px;
            bottom: 18px;
            margin: auto;
            left: 0;
            right: 0; }
      .container__app .browser {
        position: absolute;
        top: 0;
        left: 40px;
        right: 50%;
        bottom: 0;
        margin-right: 60px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: flex-end;
        -webkit-align-items: flex-end; }
        .container__app .browser .open-text {
          display: none; }
        .container__app .browser .control {
          margin-right: 0;
          width: 100%;
          position: absolute;
          top: 90px;
          border-radius: 5px 5px 0 0;
          border: none;
          height: 48px;
          padding: 0 20px;
          box-sizing: border-box;
          right: 0;
          left: 0;
          max-width: 700px;
          min-width: 532px;
          margin-left: auto;
          background: #f3f3f3;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          align-content: center;
          -webkit-align-content: center;
          -webkit-justify-content: center; }
          .container__app .browser .control .point {
            width: 10px;
            height: 10px;
            border-radius: 50px;
            margin-right: 6px; }
            .container__app .browser .control .point:first-child {
              background: rgba(255, 106, 90, 0.46); }
            .container__app .browser .control .point:nth-child(2) {
              background: #ffd248; }
            .container__app .browser .control .point:nth-child(3) {
              background: rgba(125, 200, 0, 0.46); }
          .container__app .browser .control div:nth-child(4) {
            margin-left: 12px;
            border-radius: 5px;
            height: 22px;
            width: 100%;
            position: relative;
            background: white; }
        .container__app .browser .screen {
          min-width: 535px;
          max-width: 700px;
          max-height: 415px;
          width: 100%;
          margin: 138px 0 auto auto;
          border-radius: 0 0 5px 5px;
          box-shadow: 0 5px 16px -5px black; }
      .container__app.photoreport {
        background: #ff6a5a; }
      .container__app.voting-day {
        background: #69bdf5; }
      .container__app.gps-tracker {
        background: #fa8a2d; }
      .container__app.agitator {
        background: #7dc800; }
    .container__app-btn {
      float: left;
      position: relative;
      width: 100%;
      height: 195px; }
      .container__app-btn > div {
        padding: 55px 0;
        box-sizing: border-box; } }

@media all and (min-width: 1280px) {
  .footer {
    float: left;
    width: 100%;
    height: 183px;
    background: #2f3b4c;
    position: relative; }
    .footer__block-address {
      float: left;
      width: 100%;
      height: 133px;
      box-sizing: border-box;
      border-bottom: 2px solid #4e5867;
      position: relative; }
      .footer__block-address > div > div {
        width: 33.3%;
        height: 100%;
        padding: 0 60px;
        float: left;
        box-sizing: border-box; }
        .footer__block-address > div > div:first-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse; }
          .footer__block-address > div > div:first-of-type img {
            margin: 0 20px; }
        .footer__block-address > div > div:nth-of-type(2) {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center; }
          .footer__block-address > div > div:nth-of-type(2) img {
            margin: 0 25px 0 0; }
        .footer__block-address > div > div:last-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center; }
          .footer__block-address > div > div:last-of-type img {
            margin: 0 20px 0 0; }
        .footer__block-address > div > div p {
          font-family: "AvenirNext-Regular";
          font-size: 18px;
          color: white;
          margin: 0;
          line-height: 133px; }
    .footer__block-company {
      float: left;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      position: relative;
      line-height: 50px; }
      .footer__block-company div a {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
      .footer__block-company p {
        font-size: 14px;
        display: inline-block;
        margin: 0; }
        .footer__block-company p:first-of-type {
          font-family: "LANDROVERMEDL4";
          color: #81868e; }
        .footer__block-company p:last-of-type {
          font-family: "LANDROVERBLDL4";
          color: white; }
      .footer__block-company img {
        margin: 0 10px; } }

@media all and (min-width: 768px) and (max-width: 1279px) {
  .header {
    background: url(img/header.jpg) #2f3b4c;
    font-family: "AvenirNext-Medium";
    font-size: 12px;
    background-size: cover;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 480px;
    position: relative; }
    .header__color-block {
      background: linear-gradient(to top, #2f3b4c, rgba(47, 59, 76, 0.95), rgba(47, 59, 76, 0.87), rgba(47, 59, 76, 0.77), rgba(47, 59, 76, 0.7));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .header__color-block.active:before {
        content: '';
        position: absolute;
        top: 0;
        height: 78px;
        left: 0;
        right: 0;
        background: #2f3b4c;
        opacity: 1; }
    .header__menu {
      position: absolute;
      top: -120%;
      left: 0;
      bottom: 120%;
      right: 0;
      background: #2f3b4c; }
      .header__menu > div:first-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 128px;
        box-sizing: border-box;
        border-bottom: 2px solid #4e5867;
        padding: 0 214px; }
        .header__menu > div:first-child div {
          position: absolute;
          height: 200px;
          margin: auto;
          top: 0;
          bottom: 0;
          width: 280px;
          left: 0;
          right: 0; }
        .header__menu > div:first-child button {
          width: 100%;
          height: 50px;
          background: transparent;
          border: none;
          color: white;
          font-family: "AvenirNext-Medium";
          font-size: 28px;
          text-transform: uppercase;
          cursor: pointer; }
      .header__menu > div:last-child {
        position: absolute;
        height: 128px;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
    .header ._title {
      float: left;
      width: 100%;
      height: 70px;
      color: white;
      line-height: 70px; }
      .header ._title .menu-btn {
        width: 26px;
        height: 26px;
        float: right;
        margin: 22px 0;
        cursor: pointer;
        position: relative; }
        .header ._title .menu-btn hr {
          margin: 6px 0;
          width: 100%;
          border: none;
          height: 1px;
          background: white; }
        .header ._title .menu-btn.active hr {
          display: none; }
        .header ._title .menu-btn.active::before {
          position: absolute;
          background: white;
          content: '';
          width: 25px;
          height: 1px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          top: 10px; }
        .header ._title .menu-btn.active::after {
          position: absolute;
          background: white;
          content: '';
          width: 25px;
          height: 1px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          top: 10px; }
    .header .line-block {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      height: 2px; }
      .header .line-block hr {
        width: 25%;
        height: 1px;
        border: none;
        float: left;
        margin: 0; }
        .header .line-block hr:first-of-type {
          background: #ff6a5a; }
        .header .line-block hr:nth-of-type(2) {
          background: #69bdf5; }
        .header .line-block hr:nth-of-type(3) {
          background: #fa8a2d; }
        .header .line-block hr:nth-of-type(4) {
          background: #7dc800; }
    .header .btn-header-apps, .header .btn-header-profile {
      display: none; } }

@media all and (min-width: 768px) and (max-width: 1279px) {
  .title-block {
    float: left;
    position: relative;
    width: 100%;
    height: 212px;
    font-family: "AvenirNext-Regular"; }
    .title-block div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: inline-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      align-content: center;
      -webkit-align-content: center;
      -webkit-justify-content: center; }
    .title-block p {
      color: #2f3b4c;
      font-size: 28px; }
      .title-block p span {
        font-family: "AvenirNext-Bold"; } }

@media all and (min-width: 768px) and (max-width: 1279px) {
  .container {
    float: left;
    position: relative;
    width: 100%;
    height: auto; }
    .container__app {
      width: 100%;
      float: left;
      position: relative;
      height: 1318px !important; }
      .container__app.photoreport {
        background: #ff6a5a; }
      .container__app.voting-day {
        background: #69bdf5; }
      .container__app.gps-tracker {
        background: #fa8a2d; }
      .container__app.agitator {
        background: #7dc800; }
      .container__app .browser {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: flex-end;
        -webkit-align-items: flex-end; }
        .container__app .browser .open-text {
          display: none; }
        .container__app .browser .control {
          width: 100%;
          position: absolute;
          top: 26px;
          border-radius: 5px 5px 0 0;
          border: none;
          height: 48px;
          padding: 0 20px;
          box-sizing: border-box;
          right: 0;
          left: 0;
          margin: auto;
          max-width: 700px;
          min-width: 532px;
          background: #f3f3f3;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          align-content: center;
          -webkit-align-content: center;
          -webkit-justify-content: center; }
          .container__app .browser .control .point {
            width: 10px;
            height: 10px;
            border-radius: 50px;
            margin-right: 6px; }
            .container__app .browser .control .point:first-child {
              background: rgba(255, 106, 90, 0.46); }
            .container__app .browser .control .point:nth-child(2) {
              background: #ffd248; }
            .container__app .browser .control .point:nth-child(3) {
              background: rgba(125, 200, 0, 0.46); }
          .container__app .browser .control div:nth-child(4) {
            margin-left: 12px;
            border-radius: 5px;
            height: 22px;
            width: 100%;
            position: relative;
            background: white; }
        .container__app .browser .screen {
          min-width: 535px;
          max-width: 700px;
          max-height: 415px;
          width: 100%;
          position: relative;
          bottom: 170px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          border-radius: 0 0 5px 5px;
          box-shadow: 0 10px 16px -5px black; }
      .container__app > div:last-of-type > div:last-of-type {
        float: left;
        width: 100%;
        height: 48%;
        position: relative;
        margin-top: 200px; }
        .container__app > div:last-of-type > div:last-of-type p.title-app {
          text-align: center; }
      .container__app > div:last-of-type > div:first-of-type {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 30px;
        right: 30px;
        float: right;
        margin: auto; }
        .container__app > div:last-of-type > div:first-of-type .logo {
          position: absolute;
          box-sizing: border-box;
          border-radius: 35px;
          box-shadow: 0px 5px 16px -5px black;
          width: 144px;
          height: 144px;
          top: 30px;
          left: 0;
          right: 0;
          margin: auto; }
          .container__app > div:last-of-type > div:first-of-type .logo.photoreport {
            background: url("img/1.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.voting-day {
            background: url("img/2.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.gps-tracker {
            background: url("img/3.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.agitator {
            background: url("img/4.png") 50% 50% no-repeat white;
            background-size: 70%; }
        .container__app > div:last-of-type > div:first-of-type .btn-arrow.left {
          right: 80px; }
        .container__app > div:last-of-type > div:first-of-type .btn-arrow.right {
          right: 0; }
        .container__app > div:last-of-type > div:first-of-type .phone {
          position: absolute;
          border-radius: 35px;
          background: white;
          box-shadow: 0 5px 16px -5px black;
          width: 289px;
          height: 596px;
          bottom: 60px;
          margin: auto;
          left: 0;
          right: 0; }
          .container__app > div:last-of-type > div:first-of-type .phone div.phone-slider {
            overflow: hidden;
            position: relative;
            background: black;
            width: 254px !important;
            height: 450px;
            margin: 66px auto; }
            .container__app > div:last-of-type > div:first-of-type .phone div.phone-slider img.slide {
              position: absolute;
              width: 100% !important;
              height: auto;
              top: 0;
              left: 0; }
          .container__app > div:last-of-type > div:first-of-type .phone:before {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 65px;
            height: 8px;
            top: 35px;
            margin: auto;
            left: 0;
            right: 0;
            border-radius: 5px; }
          .container__app > div:last-of-type > div:first-of-type .phone:after {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 48px;
            height: 48px;
            border-radius: 100px;
            bottom: 18px;
            margin: auto;
            left: 0;
            right: 0; }
    .container__app-btn {
      float: left;
      position: relative;
      width: 100%;
      height: 195px; }
      .container__app-btn > div {
        padding: 55px 0;
        box-sizing: border-box; } }

@media all and (min-width: 768px) {
  .footer {
    float: left;
    width: 100%;
    height: 183px;
    background: #2f3b4c;
    position: relative; }
    .footer__block-address {
      float: left;
      width: 100%;
      height: 133px;
      box-sizing: border-box;
      border-bottom: 2px solid #4e5867;
      position: relative; }
      .footer__block-address > div > div {
        width: 33.3%;
        height: 100%;
        float: left;
        box-sizing: border-box; }
        .footer__block-address > div > div:first-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-end;
          align-content: flex-end;
          -webkit-align-content: flex-end;
          -webkit-justify-content: flex-end;
          flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse; }
          .footer__block-address > div > div:first-of-type img {
            margin: 0 20px 0 0; }
        .footer__block-address > div > div:nth-of-type(2) {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          align-content: center;
          -webkit-align-content: center;
          -webkit-justify-content: center; }
          .footer__block-address > div > div:nth-of-type(2) img {
            width: 30px;
            margin: 0 8px 0 0; }
        .footer__block-address > div > div:last-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-end;
          align-content: flex-end;
          -webkit-align-content: flex-end;
          -webkit-justify-content: flex-end; }
          .footer__block-address > div > div:last-of-type img {
            margin: 0 20px 0 0; }
        .footer__block-address > div > div p {
          font-family: "AvenirNext-Regular";
          font-size: 16px;
          color: white;
          margin: 0;
          line-height: 133px; }
    .footer__block-company {
      float: left;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      position: relative;
      line-height: 50px; }
      .footer__block-company div a {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
      .footer__block-company p {
        font-size: 14px;
        display: inline-block;
        margin: 0; }
        .footer__block-company p:first-of-type {
          font-family: "LANDROVERMEDL4";
          color: #81868e; }
        .footer__block-company p:last-of-type {
          font-family: "LANDROVERBLDL4";
          color: white; }
      .footer__block-company img {
        margin: 0 10px; } }

@media all and (min-width: 320px) and (max-width: 767px) {
  .header {
    background: url(img/header.jpg) #2f3b4c;
    font-family: "AvenirNext-Medium";
    font-size: 12px;
    background-size: cover;
    width: 100%;
    float: left;
    height: 100%;
    min-height: 480px;
    position: relative; }
    .header__color-block {
      background: linear-gradient(to top, #2f3b4c, rgba(47, 59, 76, 0.95), rgba(47, 59, 76, 0.87), rgba(47, 59, 76, 0.77), rgba(47, 59, 76, 0.7));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .header__color-block.active:before {
        content: '';
        position: absolute;
        top: 0;
        height: 78px;
        left: 0;
        right: 0;
        background: #2f3b4c;
        opacity: 1; }
    .header__menu {
      position: absolute;
      top: -120%;
      left: 0;
      bottom: 120%;
      right: 0;
      background: #2f3b4c; }
      .header__menu > div:first-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        border-bottom: 2px solid #4e5867;
        padding: 0; } }
      @media all and (min-width: 320px) and (max-width: 767px) and (max-height: 360px) {
        .header__menu > div:first-child {
          bottom: 78px; } }
      @media all and (min-width: 320px) and (max-width: 767px) and (min-height: 361px) {
        .header__menu > div:first-child {
          bottom: 128px; } }

@media all and (min-width: 320px) and (max-width: 767px) {
        .header__menu > div:first-child div {
          position: absolute;
          height: 150px;
          margin: auto;
          top: 0;
          bottom: 0;
          width: 280px;
          left: 0;
          right: 0; }
        .header__menu > div:first-child button {
          width: 100%;
          height: 25%;
          background: transparent;
          border: none;
          color: white;
          font-family: "AvenirNext-Medium";
          font-size: 24px;
          text-transform: uppercase;
          cursor: pointer; }
      .header__menu > div:last-child {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; } }
      @media all and (min-width: 320px) and (max-width: 767px) and (max-height: 360px) {
        .header__menu > div:last-child {
          height: 78px; } }
      @media all and (min-width: 320px) and (max-width: 767px) and (min-height: 361px) {
        .header__menu > div:last-child {
          height: 128px; } }

@media all and (min-width: 320px) and (max-width: 767px) {
    .header ._title {
      float: left;
      width: 100%;
      height: 55px;
      color: white;
      line-height: 55px; }
      .header ._title .menu-btn {
        width: 26px;
        height: 26px;
        float: right;
        margin: 18px 0;
        cursor: pointer;
        position: relative; }
        .header ._title .menu-btn hr {
          margin: 6px 0;
          width: 100%;
          border: none;
          height: 1px;
          background: white; }
        .header ._title .menu-btn.active hr {
          display: none; }
        .header ._title .menu-btn.active::before {
          position: absolute;
          background: white;
          content: '';
          width: 25px;
          height: 1px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          top: 10px; }
        .header ._title .menu-btn.active::after {
          position: absolute;
          background: white;
          content: '';
          width: 25px;
          height: 1px;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          top: 10px; }
    .header .line-block {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      height: 2px; }
      .header .line-block hr {
        width: 25%;
        height: 1px;
        border: none;
        float: left;
        margin: 0; }
        .header .line-block hr:first-of-type {
          background: #ff6a5a; }
        .header .line-block hr:nth-of-type(2) {
          background: #69bdf5; }
        .header .line-block hr:nth-of-type(3) {
          background: #fa8a2d; }
        .header .line-block hr:nth-of-type(4) {
          background: #7dc800; }
    .header .btn-header-apps, .header .btn-header-profile {
      display: none; } }

@media all and (min-width: 320px) and (max-width: 767px) {
  .title-block {
    float: left;
    position: relative;
    width: 100%;
    height: 166px;
    font-family: "AvenirNext-Regular"; }
    .title-block div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: inline-flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      align-content: center;
      -webkit-align-content: center;
      -webkit-justify-content: center; }
    .title-block p {
      color: #2f3b4c;
      font-size: 18px;
      margin: 0; }
      .title-block p span {
        font-family: "AvenirNext-Bold"; } }

@media all and (min-width: 320px) and (max-width: 767px) {
  .container {
    position: relative;
    height: auto;
    width: 100%;
    float: left; }
    .container__app {
      width: 100%;
      float: left;
      position: relative;
      min-height: 960px; }
      .container__app.photoreport {
        background: #ff6a5a; }
      .container__app.voting-day {
        background: #69bdf5; }
      .container__app.gps-tracker {
        background: #fa8a2d; }
      .container__app.agitator {
        background: #7dc800; }
      .container__app > div:last-of-type > div:last-of-type {
        float: left;
        width: 100%;
        height: 165px;
        position: relative;
        margin-top: 140px;
        overflow: hidden;
        text-overflow: ellipsis; }
        .container__app > div:last-of-type > div:last-of-type p.title-app {
          text-align: center; }
      .container__app > div:last-of-type > div:first-of-type {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 30px;
        right: 30px;
        float: right;
        margin: auto; }
        .container__app > div:last-of-type > div:first-of-type .logo {
          position: absolute;
          box-sizing: border-box;
          border-radius: 35px;
          box-shadow: 0px 5px 16px -5px black;
          border-radius: 22px;
          width: 72px;
          height: 72px;
          top: 40px;
          left: 0;
          right: 0;
          margin: auto; }
          .container__app > div:last-of-type > div:first-of-type .logo.photoreport {
            background: url("img/1.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.voting-day {
            background: url("img/2.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.gps-tracker {
            background: url("img/3.png") 50% 50% no-repeat white;
            background-size: 70%; }
          .container__app > div:last-of-type > div:first-of-type .logo.agitator {
            background: url("img/4.png") 50% 50% no-repeat white;
            background-size: 70%; }
        .container__app > div:last-of-type > div:first-of-type .phone {
          position: absolute;
          border-radius: 35px;
          background: white;
          box-shadow: 0 5px 16px -5px black;
          width: 264px;
          height: 543px;
          margin: auto;
          right: 0;
          left: -2px;
          bottom: 40px; }
          .container__app > div:last-of-type > div:first-of-type .phone div.phone-slider {
            overflow: hidden;
            position: relative;
            background: black;
            width: 232px !important;
            height: 412px;
            margin: 58px auto; }
            .container__app > div:last-of-type > div:first-of-type .phone div.phone-slider img.slide {
              position: absolute;
              width: 100% !important;
              height: auto;
              top: 0;
              left: 0; }
          .container__app > div:last-of-type > div:first-of-type .phone:before {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 65px;
            height: 8px;
            top: 35px;
            margin: auto;
            left: 0;
            right: 0;
            border-radius: 5px; }
          .container__app > div:last-of-type > div:first-of-type .phone:after {
            position: absolute;
            content: '';
            background: #dbdbdb;
            width: 48px;
            height: 48px;
            border-radius: 100px;
            bottom: 18px;
            margin: auto;
            left: 0;
            right: 0; }
      .container__app .browser {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .container__app .browser button.open-text {
          position: absolute;
          width: 320px;
          height: 40px;
          border: none;
          color: white;
          background: rgba(255, 255, 255, 0.146);
          left: 0;
          right: 0;
          margin: 310px auto;
          cursor: pointer;
          z-index: 1000;
          font-size: 14px;
          font-family: "AvenirNext-Medium"; }
    .container__app-btn {
      float: left;
      position: relative;
      width: 100%;
      height: 263px; }
      .container__app-btn > div {
        padding: 40px 0;
        box-sizing: border-box; }
  .browser > .control, .btn-arrow, .browser > .screen {
    display: none !important; } }

@media all and (min-width: 320px) and (max-width: 767px) {
  .footer {
    float: left;
    width: 100%;
    height: 235px;
    background: #2f3b4c;
    position: relative; }
    .footer__block-address {
      float: left;
      width: 100%;
      height: 185px;
      box-sizing: border-box;
      border-bottom: 2px solid #4e5867;
      position: relative; }
      .footer__block-address > div > div {
        width: 100%;
        height: 33.3%;
        float: left;
        box-sizing: border-box; }
        .footer__block-address > div > div:first-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-end;
          align-content: flex-end;
          -webkit-align-content: flex-end;
          -webkit-justify-content: flex-end;
          flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse; }
          .footer__block-address > div > div:first-of-type img {
            margin: 0 12px 0 0; }
        .footer__block-address > div > div:nth-of-type(2) {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-start;
          align-content: flex-start;
          -webkit-align-content: flex-start;
          -webkit-justify-content: flex-start; }
          .footer__block-address > div > div:nth-of-type(2) img {
            width: 30px;
            margin: 0 15px 0 0; }
        .footer__block-address > div > div:last-of-type {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: inline-flex;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-start;
          align-content: flex-start;
          -webkit-align-content: flex-start;
          -webkit-justify-content: flex-start; }
          .footer__block-address > div > div:last-of-type img {
            margin: 0 13px 0 0; }
        .footer__block-address > div > div p {
          font-family: "AvenirNext-Regular";
          font-size: 14px;
          color: white;
          margin: 0; }
    .footer__block-company {
      float: left;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      position: relative;
      line-height: 50px; }
      .footer__block-company div a {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
      .footer__block-company p {
        font-size: 14px;
        display: inline-block;
        margin: 0; }
        .footer__block-company p:first-of-type {
          font-family: "LANDROVERMEDL4";
          color: #81868e; }
        .footer__block-company p:last-of-type {
          font-family: "LANDROVERBLDL4";
          color: white; }
      .footer__block-company img {
        margin: 0 10px; } }

button.btn-header-apps {
  border: none;
  cursor: pointer;
  background: transparent;
  color: white;
  text-transform: uppercase;
  height: 50px;
  padding: 0;
  margin: 0 20px;
  font-size: 16px;
  font-family: "AvenirNext-Medium"; }
  button.btn-header-apps.photoreport {
    border-bottom: 2px solid #ff6a5a; }
  button.btn-header-apps.voting-day {
    border-bottom: 2px solid #69bdf5; }
  button.btn-header-apps.gps-tracker {
    border-bottom: 2px solid #fa8a2d; }
  button.btn-header-apps.agitator {
    border-bottom: 2px solid #7dc800; }

.btn-header-profile {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.149);
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "AvenirNext-Medium";
  text-decoration: none;
  line-height: 50px;
  display: inline-block;
  text-align: center; }
  @media all and (min-width: 1280px) {
    .btn-header-profile {
      margin-left: 100px; } }
  .btn-header-profile:hover {
    color: #2f3b4c;
    background: white; }

.btn-menu-profile {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.149);
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "AvenirNext-Medium";
  text-decoration: none;
  line-height: 50px;
  display: inline-block;
  text-align: center; }
  @media all and (min-width: 1280px) {
    .btn-menu-profile {
      margin-left: 100px; } }
  .btn-menu-profile:hover {
    color: #2f3b4c;
    background: white; }

.btn-apps {
  height: 76px;
  width: 245px;
  border-radius: 5px;
  margin: 5px 40px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-decoration: none; }
  @media all and (min-width: 320px) and (max-width: 767px) {
    .btn-apps {
      margin: 10px 10px; } }
  @media all and (min-width: 768px) {
    .btn-apps {
      margin: 5px 40px; } }
  .btn-apps p {
    margin: 0;
    text-align: left;
    color: white;
    padding-left: 80px; }
    .btn-apps p:first-of-type {
      padding-top: 10px;
      font-size: 16px;
      font-family: "AvenirNext-Regular"; }
    .btn-apps p:last-of-type {
      font-size: 24px;
      font-family: "AvenirNext-Medium"; }
  .btn-apps:first-of-type:after {
    content: url("img/store.png");
    position: absolute;
    left: 42px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 36px; }
  .btn-apps:last-of-type:after {
    content: url("img/apple.png");
    position: absolute;
    left: 42px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px; }
  .btn-apps.photoreport {
    background: #ff6a5a;
    box-shadow: 0 4px 15px -4px #ff6a5a; }
    .btn-apps.photoreport:hover {
      box-shadow: 0 4px 20px 0px #ff6a5a; }
  .btn-apps.voting-day {
    background: #69bdf5;
    box-shadow: 0 4px 15px -4px #69bdf5; }
    .btn-apps.voting-day:hover {
      box-shadow: 0 4px 20px 0px #69bdf5; }
  .btn-apps.gps-tracker {
    background: #fa8a2d;
    box-shadow: 0 4px 15px -4px #fa8a2d; }
    .btn-apps.gps-tracker:hover {
      box-shadow: 0 4px 20px 0px #fa8a2d; }
  .btn-apps.agitator {
    background: #7dc800;
    box-shadow: 0 4px 15px -4px #7dc800; }
    .btn-apps.agitator:hover {
      box-shadow: 0 4px 20px 0px #7dc800; }

.btn-slider-1 {
  width: 245px;
  height: 76px;
  border-radius: 5px;
  background: #ff6a5a;
  border: none;
  font-size: 24px;
  color: white;
  font-family: "AvenirNext-Medium";
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  line-height: 76px; }
  .btn-slider-1:hover {
    background: #ff877a; }

button.btn-slider-3 {
  width: 164px;
  height: 47px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.149);
  position: relative;
  border: none;
  border-radius: 5px;
  margin-right: 40px;
  font-size: 16px;
  font-family: "AvenirNext-Medium";
  padding-left: 45px;
  color: white; }
  button.btn-slider-3:first-of-type:after {
    content: url("img/store.png");
    position: absolute;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 36px;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }
  button.btn-slider-3:last-of-type:after {
    content: url("img/apple.png");
    position: absolute;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7); }

.btn-arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-align-content: center;
  -webkit-justify-content: center; }
  .btn-arrow:hover {
    background: white; }
  .btn-arrow.left {
    right: 140px;
    bottom: 60px; }
    .btn-arrow.left:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      top: 30px;
      left: 13px; }
    .btn-arrow.left:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      top: 17px;
      left: 13px; }
    .btn-arrow.left:hover:before, .btn-arrow.left:hover:after {
      background: #ff796b; }
  .btn-arrow.right {
    right: 60px;
    bottom: 60px; }
    .btn-arrow.right:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      top: 30px;
      left: 16px; }
    .btn-arrow.right:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      top: 17px;
      left: 16px; }
  .btn-arrow.photoreport:hover:before, .btn-arrow.photoreport:hover:after {
    background: #ff6a5a; }
  .btn-arrow.voting-day:hover:before, .btn-arrow.voting-day:hover:after {
    background: #69bdf5; }
  .btn-arrow.gps-tracker:hover:before, .btn-arrow.gps-tracker:hover:after {
    background: #fa8a2d; }
  .btn-arrow.agitator:hover:before, .btn-arrow.agitator:hover:after {
    background: #7dc800; }

h1.h1-header {
  float: left;
  font-family: "AvenirNext-Bold"; }
  @media all and (min-width: 1280px) {
    h1.h1-header {
      margin: 0 96px 0 0;
      font-size: 38px; } }
  @media all and (min-width: 768px) and (max-width: 1279px) {
    h1.h1-header {
      font-size: 32px;
      margin: 0; } }
  @media all and (min-width: 320px) and (max-width: 767px) {
    h1.h1-header {
      font-size: 28px;
      margin: 0; } }

p.text-app {
  color: white;
  font-family: "AvenirNext-Regular"; }
  @media all and (min-width: 1280px) {
    p.text-app {
      margin: 0 0 25px 0;
      font-size: 12px; } }
  @media all and (min-width: 768px) and (max-width: 1279px) {
    p.text-app {
      margin: 0 0 10px 0;
      font-size: 11px; } }
  @media all and (min-width: 320px) and (max-width: 767px) {
    p.text-app {
      margin: 0 0 10px 0;
      font-size: 10px; } }
  p.text-app span {
    font-family: "AvenirNext-DemiBold"; }

ul.list-app {
  color: rgba(255, 255, 255, 0.6);
  padding: 0 22px;
  font-size: 20px;
  margin: 0; }
  ul.list-app li {
    margin-bottom: 6px; }
    ul.list-app li span {
      color: white;
      padding-left: 10px;
      font-family: "AvenirNext-Regular"; }
      @media all and (min-width: 1280px) {
        ul.list-app li span {
          font-size: 12px; } }
      @media all and (min-width: 768px) and (max-width: 1279px) {
        ul.list-app li span {
          font-size: 11px; } }
      @media all and (min-width: 320px) and (max-width: 767px) {
        ul.list-app li span {
          font-size: 10px; } }

p.title-app {
  color: white;
  margin: 0 0 25px 0;
  font-family: "AvenirNext-Bold";
  text-transform: uppercase; }
  @media all and (min-width: 768px) {
    p.title-app {
      font-size: 48px; } }
  @media all and (min-width: 320px) and (max-width: 767px) {
    p.title-app {
      font-size: 28px;
      text-align: center;
      margin: 0; } }

@media all and (min-width: 1280px) {
  .header-slider div[data-header-slide='1'], .header-slider div[data-header-slide='2'], .header-slider div[data-header-slide='3'] {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden; }
  .header-slider {
    float: left;
    width: 100%;
    height: 566px;
    padding-top: 65px;
    box-sizing: border-box; }
    .header-slider__slide {
      width: 100%;
      height: 100%;
      float: left; }
      .header-slider__slide .slide-content-1 {
        float: left;
        width: 50%;
        height: 85%; }
        .header-slider__slide .slide-content-1 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .slide-marker {
        float: left;
        width: 50%;
        height: 15%;
        padding-top: 5px;
        box-sizing: border-box; }
      .header-slider__slide .slide-content-2 {
        float: right;
        width: 50%;
        height: 100%; }
        .header-slider__slide .slide-content-2 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .marker {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background: transparent;
        border: 2px solid white;
        margin-right: 12px;
        cursor: pointer; }
        .header-slider__slide .marker.active {
          background: white !important; }
        .header-slider__slide .marker:hover {
          background: rgba(255, 255, 255, 0.45); }
    .header-slider div[data-header-slide='1'] ._all-app {
      position: absolute;
      top: 0;
      right: -5px;
      background: url("img/slide_elem.png") top right no-repeat;
      width: 100%;
      height: 100%; }
    .header-slider div[data-header-slide='2'] .video {
      box-shadow: 0px 0px 30px -6px black;
      width: 550px;
      height: 310px; }
    .header-slider div[data-header-slide='3'] .img-app {
      position: absolute;
      width: 100%;
      height: 625px;
      right: -35px;
      top: -30px;
      bottom: 0;
      background: url("img/slide_elem_3.png") bottom right no-repeat; } }

@media all and (min-width: 768px) and (max-width: 1279px) {
  .header-slider div[data-header-slide='1'], .header-slider div[data-header-slide='2'], .header-slider div[data-header-slide='3'] {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center !important; }
  .header-slider {
    position: absolute;
    width: 100%;
    top: 78px;
    bottom: 0;
    left: 0;
    right: 0; }
    .header-slider__slide {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      max-height: 715px;
      height: 100%;
      margin: auto; }
      .header-slider__slide .slide-content-1 {
        position: absolute;
        bottom: 50px;
        right: 30px;
        left: 30px;
        top: 40%; }
        .header-slider__slide .slide-content-1 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .slide-marker {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 5px;
        box-sizing: border-box;
        left: 0;
        height: 30px;
        right: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
      .header-slider__slide .slide-content-2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 45%; }
        .header-slider__slide .slide-content-2 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .marker {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background: transparent;
        border: 2px solid white;
        margin-right: 12px;
        cursor: pointer; }
        .header-slider__slide .marker.active {
          background: white !important; }
        .header-slider__slide .marker:hover {
          background: rgba(255, 255, 255, 0.45); }
    .header-slider div[data-header-slide='1'] ._all-app {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      background: url("img/slide_elem.png") center center no-repeat;
      background-size: cover;
      width: 150px;
      height: 150px; }
    .header-slider div[data-header-slide='2'] .video {
      box-shadow: 0px 0px 30px -6px black;
      width: 400px;
      height: 200px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 15px auto; }
    .header-slider div[data-header-slide='3'] .img-app {
      position: absolute;
      width: 150px;
      height: 150px;
      right: 0;
      bottom: 0;
      background: url("img/slide_elem_3.png") center center no-repeat;
      background-size: cover;
      left: 0;
      margin: auto;
      top: 0; } }

@media all and (min-width: 320px) and (max-width: 767px) {
  .header-slider div[data-header-slide='1'], .header-slider div[data-header-slide='2'], .header-slider div[data-header-slide='3'] {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center !important; }
  .header-slider {
    position: absolute;
    width: 100%;
    top: 78px;
    bottom: 0;
    left: 0;
    right: 0; }
    .header-slider__slide {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100%;
      margin: auto; }
      .header-slider__slide .slide-content-1 {
        position: absolute;
        right: 30px;
        left: 30px;
        top: 0;
        bottom: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
        .header-slider__slide .slide-content-1 .title-app {
          font-size: 18px !important; }
        .header-slider__slide .slide-content-1 .text-app {
          font-size: 11px !important; }
        .header-slider__slide .slide-content-1 .btn-slider-1 {
          height: 60px;
          line-height: 60px; }
        .header-slider__slide .slide-content-1 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .slide-marker {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 5px;
        box-sizing: border-box;
        left: 0;
        height: 30px;
        right: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: inline-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        align-content: center;
        -webkit-align-content: center;
        -webkit-justify-content: center; }
      .header-slider__slide .slide-content-2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: auto; }
        .header-slider__slide .slide-content-2 > div:nth-child(n + 2) {
          display: none;
          opacity: 0; }
      .header-slider__slide .marker {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        background: transparent;
        border: 2px solid white;
        margin-right: 12px;
        cursor: pointer; }
        .header-slider__slide .marker.active {
          background: white !important; }
        .header-slider__slide .marker:hover {
          background: rgba(255, 255, 255, 0.45); } }
  @media all and (min-width: 320px) and (max-width: 767px) and (max-height: 480px) {
    .header-slider div[data-header-slide='1'] .text-app {
      font-size: 10px; } }

@media all and (min-width: 320px) and (max-width: 767px) {
    .header-slider div[data-header-slide='1'] ._all-app {
      display: none; }
    .header-slider div[data-header-slide='2'] {
      height: 200px !important; } }
    @media all and (min-width: 320px) and (max-width: 767px) and (max-height: 500px) {
      .header-slider div[data-header-slide='2'] .title-app {
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute; } }
    @media all and (min-width: 320px) and (max-width: 767px) and (min-height: 500px) {
      .header-slider div[data-header-slide='2'] .title-app {
        margin-top: 40px; } }
    @media all and (min-width: 320px) and (max-width: 767px) and (max-height: 500px) {
      .header-slider div[data-header-slide='2'] .text-app {
        display: none; } }

@media all and (min-width: 320px) and (max-width: 767px) {
      .header-slider div[data-header-slide='2'] .video {
        box-shadow: 0px 0px 30px -6px black;
        width: 300px;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 15px auto; }
    .header-slider div[data-header-slide='3'] .btn-slider-3 {
      height: 45px !important;
      margin: 2px !important; }
    .header-slider div[data-header-slide='3'] .img-app {
      display: none; } }
